@import "tailwindcss";
@layer components{
    .primary-btn{
        @apply bg-blue-700 text-white cursor-pointer hover:bg-blue-500 px-4 py-2 rounded-lg my-3
    }
    .outline-btn{
        @apply ring-2 ring-blue-400 inset-0 text-blue-700 cursor-pointer rounded-lg  hover:bg-blue-200 hover:text-white p-2
 
    }
}
html {
  scroll-behavior: smooth;
}